* {
    font-family: 'Fraunces', sans-serif;
    box-sizing: border-box;
}

body {
    background: #FCF8F3;
    color: #292a2c;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 10;
    padding: 10px 10%;
}

.logo {
    width: 0px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: #292a2c;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DCA47C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.container {
    padding: 10px 5%;
}

h1 {
    font-size: 150px;
    font-variation-settings: 'wght' 800;
    font-style: italic;
    color: #698474;
    margin: 0;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
    color: #292a2c
}

.awardTypeTitle {
    color: #DCA47C;
    font-size: 50px;
    margin: 0;
}

#awards {
    display: flex;
    flex-direction: column;
}

.award {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    margin-bottom: 80px; 
}

.awardImages {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50%; 
}

#academicAwardImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.awardDescription {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.academicAwardImage {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 10px;

}

#apScholarImage {
    width: 100%;
    height: auto;
    padding: 0;
    flex: 0;
}

#stucoAwardImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.stucoAwardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.awardImageContainer {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 50%;
    flex-shrink: 0;
    height: auto;
    align-self: start;
    padding: 10px;
}

.awardCaption {
   width: calc(100% - 20px);
   height: calc(100% - 20px);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.awardImageContainer:hover .awardCaption{
    opacity:1;
}
