* {
    font-family: 'Fraunces', sans-serif;
    box-sizing: border-box;
}

body {
    background: #FCF8F3;
    color: #292a2c;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 10;
    padding: 10px 10%;
}

.logo {
    width: 0px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: #292a2c;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DCA47C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.container {
    padding: 10px 5%;
}

h1 {
    font-size: 130px;
    font-variation-settings: 'wght' 800;
    font-style: italic;
    color: #698474;
    margin: 0;
    margin-bottom: 70px;
}

p {
    font-size: 20px;
}

#jobs {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}

.job {
    width: 50%;
}

.jobTitle {
    font-size: 50px;
    color: #DCA47C;
    margin: 0;
    text-align: center;
}

.jobDuration {
    font-size: 20px;
    color: #698474;
    text-align: center;
}

.jobImage {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}















/* ------------ PHONE ---------- */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 1250px) {
    #header {
        background: #FCF8F3;
        color: #292a2c;
    }

    /* .header-text {
        margin-top: 100%;
        font-size: 16px;
    } */

    .header-text h1 {
        font-size: 40px;
        inline-size: 200px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}